<?xml version="1.0" encoding="utf-8"?>

<odoo>

```
<menuitem 
    id="menu_batch_deliveries"
    name="Batch Deliveries"
    parent="fleet.menu_root" 
    action="action_batch_deliveries"
    sequence="2"/>
<menuitem 
    id="menu_delivery_routes"
    name="Routes"
    parent="fleet.fleet_configuration" 
    action="action_delivery_routes"
    sequence="2"/>
```
</odoo>
